<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>The Beatles: Gallery</title>
  </head>
  <body>
    <h1 class="header">The Breatles: Gallery</h1>
    <div class="container">
      <img class="image" src="/images/beatles-ali.jpg">
      <img class="image" src="/images/beatles-washington.jpg">
      <img class="image" src="/images/beatles-67.jpg">
      <img class="image" src="/images/beatles-young.jpg">
      <img class="image" src="/images/hey-jude.jpg">
      <img class="image" src="/images/beatles-ed-sullivan.jpg">
      <img class="image" src="/images/beatles-snow.jpg">
      <img class="image" src="images/beatles-rooftop.jpg">
    </div>
  </body>
</html>
